@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron text-center">
    <h1>Welcome to AhTask <br /></h1>
    <p>
        The AhTask is a demo project that guide you through all different technologies involved in Athenahealth website project. Furthermore, it gives you a Sitecore’s fundamental base knowledge.
        The project by itself consist a small task manager.
        <br />
    </p>
    <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
</div>
<div class="well">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/github.png" alt="...">
                <div class="caption text-center">
                    <h3>GitHub</h3>
                    <p class="text-justify">
                        The source control used to keep track about all development process.
                        Also, it allows us to centralize and share the AhTask project with others Team development.
                        <br />
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "GitHub", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="https://github.com/Justimiano/AhTask" target="_blank" class="btn btn-warning" role="button">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/teamcity.png" alt="...">
                <div class="caption text-center">
                    <h3>Team City</h3>
                    <p class="text-justify">
                        We use the continuous integrations (CI) approach to building and testing our project automatically.
                        I found the TeamCity a great solution to implement the CI.
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "TeamCity", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="https://www.jetbrains.com/teamcity/" target="_blank" class="btn btn-warning" role="button">TeamCity</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/octopus.jpg" alt="...">
                <div class="caption text-center">
                    <h3>Octopus Deploy</h3>
                    <p class="text-justify">
                        We use the continuous deploy (CD) to optimize the deployment process for each those environment we have been supporting the Athenahealth website project.
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "OctopusDeploy", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="http://octopusdeploy.com/" target="_blank" class="btn btn-warning" role="button">Octopus Deploy</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/GlassMapper.png" alt="...">
                <div class="caption text-center">
                    <h3>Glass Mapper</h3>
                    <p class="text-justify">
                        In order to implement the object relational mapper between the Sitecore data template and C# class, I found the Glass Mapper as the best alternative to do that.
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "GlassMapper", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="http://www.glass.lu/" target="_blank" class="btn btn-warning" role="button">Glass Mapper</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/TDS.png" alt="...">
                <div class="caption text-center">
                    <h3>TDS</h3>
                    <p class="text-justify">
                        The source control used to share and centralize the Sitecore’s project with the rest of team. Also, it is helpful to generate the model object thought T4 template.
                    </p>                   
                    <p>
                        @Html.ActionLink("View Path", "TeamDevelopmentSitecore", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="https://www.hhogdev.com/products/team-development-for-sitecore/overview.aspx" target="_blank" class="btn btn-warning" role="button">TDS</a>
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/Sitecore/Sitecore.png" alt="...">
                <div class="caption text-center">
                    <h3>Sitecore</h3>
                    <p>
                        The Content Management System (CMS) platform used to build the Athenahealth website.  I have implemented the AthenaTask demo on it. 
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "Sitecore", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="http://www.sitecore.net/" target="_blank" class="btn btn-warning" role="button">Sitecore</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/TFS.png" alt="...">
                <div class="caption text-center">
                    <h3 >Team Foundation Server </h3>
                    <p class="text-justify">
                        In order to manage the development time on this project I decided to use the TFS. I found it very useful to keep all development historic.
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "TeamFoundationServer", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="https://athenahealth.visualstudio.com/" target="_blank" class="btn btn-warning" role="button">TFS</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/App_Themes/Images/Icones/windowsazure.png" alt="...">
                <div class="caption text-center">
                    <h3>Windows Azure</h3>
                    <p class="text-justify">
                        The cloud platform that provide us Infrastructure as Service to host our website and implement the CD and CI.
                    </p>
                    <p>
                        @Html.ActionLink("View Path", "WindowsAzure", "Tech", null, new { @class = "btn btn-primary" })
                        <a href="https://portal.azure.com/" target="_blank" class="btn btn-warning" role="button">Windows Azure</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>