@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<div class="jumbotron">
    <span class="well-sm label label-primary"><b>Management</b></span><span class="well-sm label label-info"><b>Development</b></span>
    <h2 class="text-capitalize"><strong>Tech</strong></h2>
    <p class="text-justify">
        The AhTech project was developed using several different technologies.
        We are using in AhTech project the same technologies that being used in Athenahealth website project in order to make the smooth transitions between them.
        Developer starts work on AhTech project and gradually move into Athenahealth webiste project.
    </p>
</div>
<div class="well">

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Development" aria-controls="Development" role="tab" data-toggle="tab">Development</a></li>
            <li role="presentation"><a href="#Management" aria-controls="Management" role="tab" data-toggle="tab">Management</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Development">

                <br />
                <!-- Sitecore -->

                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("Sitecore","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/Sitecore.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Sitecore</h4>
                        The Content Mangement System (CMS) used to develop the AthenaTak demo and AhTask project.
                        <p>
                            @Html.ActionLink("View Path", "Sitecore", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Sitecore END-->
                <!-- Glass Mapper -->
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("GlassMapper","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/GlassMapper.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Glass Mapper</h4>
                        The Object Relationar Mapper (ORM) used to do mapping between of Sitecore data template with C# object.
                        <p>
                            @Html.ActionLink("View Path", "GlassMapper", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Glass Mapper END-->
                <!-- GitHub -->
                <br />
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("GitHub","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/github.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">GitHub</h4>
                        The GitHub is the source contoll used to share and centralized the project.
                        <p>
                        <p>
                            @Html.ActionLink("View Path", "GitHub", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- GitHub END-->
                <!-- Team Development for Sitecore  -->

                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("TeamDevelopmentSitecore","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/TDS.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Team Development for Sitecore</h4>
                        The source controll used to share and centralize the sitecore webiste.
                        <p>
                            @Html.ActionLink("View Path", "TeamDevelopmentSitecore", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Team Development for Sitecore END-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Management">

                <!-- GitHub -->
                <br />
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("GitHub","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/github.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">GitHub</h4>
                        The GitHub is the source contol used to share and centralized the project.
                        <p>
                            @Html.ActionLink("View Path", "GitHub", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- GitHub END-->
                <!-- Windows Azure -->

                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("WindowsAzure","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/windowsazure.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Windows Azure</h4>
                        The web cloud service to host webiste and create Virtual Machine server to host team Server and Octopus Server.
                        <p>
                            @Html.ActionLink("View Path", "WindowsAzure", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Windows Azure END-->
                <!-- Team City -->
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("TeamCity","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/teamcity.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">TeamCity</h4>
                        The Continuous Integrations (CI) server to build and test the AhTask project.
                        <p>
                            @Html.ActionLink("View Path", "TeamCity", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Team City END-->
                <!-- Octopus Deploy -->
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("OctopusDeploy","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/octopus.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Octopus Deploy</h4>
                        The Continuous Deploy (CD) server to deploy the AhTask project to all environments.
                        <p>
                            @Html.ActionLink("View Path", "OctopusDeploy", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Octopus Deploy END-->
                <!-- Team Foundation Server -->
                <div class="media">
                    <div class="media-left">
                        <a href="@Url.Action("TeamFoundationServer","Tech")">
                            <img class="media-object" src="~/App_Themes/Images/Icones/small/TFS.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Team Foundation Server</h4>
                        The Team Foundation Server (TFS) allow us to management all AhTask development process.
                        <p>
                            @Html.ActionLink("View Path", "TeamFoundationServer", "Tech", new { area = "" }, new { @class = "btn btn-link" })
                        </p>
                    </div>
                </div>

                <!-- Team Foundation Server END-->

            </div>
        </div>
    </div>

</div>