@{
    ViewBag.Title = "Sitecore";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<div class="jumbotron">
    <span class="well-sm label label-danger"><b>Sitecore</b></span><span class="well-sm label label-info"><b>Development</b></span>
    <h2 class="text-capitalize"><strong>Sitecore</strong></h2>
    <p class="text-justify">
        Sitecore is the most popular Content Management Syetem (CMS) that lets marketers own the experience they deliver to their customers and prospects.
        These courses will take you from a complete beginner to proficiency using Sitecore and Sitecore Rocks.
    </p>    
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Tech", "Index", "Tech", new {area="" },null)</li>
    <li class="active">Sitecore</li>
</ol>
<hr />

<!-- Try Sitecore Path-->
<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="@Url.Action("Index", "TrySitecore", new { Area="Sitecore"})">
                <img class="media-object" src="~/App_Themes/Images/Icones/Sitecore/TrySitecore.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading lead">Course</h4>
            <a href="@Url.Action("Index", "TrySitecore", new { Area="Sitecore"})">
                <h4 class="media-heading"><b>Try Sitecore</b></h4>
            </a>
            <p>
                Be introduced to the basic concepts of Sitecore.
            </p>
        </div>
    </div>
</div>
<!-- Try Sitecore path End-->
<!-- Sitecore Developer path-->
<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="@Url.Action("Index", "Developer", new { Area="Sitecore"})">
                <img class="media-object" src="~/App_Themes/Images/Icones/Sitecore/SitecoreRocks.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading lead">Course</h4>
            <a href="@Url.Action("Index", "Developer", new { Area="Sitecore"})">
                <h4 class="media-heading"><b>Sitecore Developer</b></h4>
            </a>
            <p>
                Get a more advanced introduction and guid to Sitecore
            </p>
        </div>
    </div>
</div>
<!-- Sitecore Developer path End -->
<!-- Sitecore Real-->
<div class="well">
    <div class="media">
        <div class="media-left">
            <a href="@Url.Action("Index", "Real", new { Area="Sitecore"})">
                <img class="media-object" src="~/App_Themes/Images/Icones/Sitecore/SitecoreAdvanced.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading lead">Course</h4>
            <a href="@Url.Action("Index", "Real", new { Area="Sitecore"})">
                <h4 class="media-heading"><b>Sitecore Real</b></h4>
            </a>
            <p>
                Learn more advanced Sitecore techniques
            </p>
        </div>
    </div>
</div>
<!-- Sitecore Real path End-->
